<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestion des catégories</title>
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet">
    <link href="../static/css/cheatsheet.css" th:href="@{/css/cheatsheet.css}" rel="stylesheet">
    <link href="../static/css/fontawesome/css/all.css" th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
     
  </head> 
<body class="mainback">

     <th:block th:include="/_header"></th:block>
       
        <div class="bg-primary mt-4 titre2 mb-4"> 
	    <h1 align="center">Liste des services</h1>
	   </div>
	   <hr/>
	   <div class="row mt-4">
	      <div class="col">
	        <a th:href="@{/services/new}" class="btn btn-success">Nouveau service</a>
	      </div>
	   </div>
	   <div class="row">
		    <!-- <tr>-->
	       <div align="center">
	          <div class="panel-body" align="center">
	          <table class="table" style="border:2px solid black">
		          <thead class="thead-dark">
		          <tr>
			           <th>ID service</th> 
			           <th>Nom service</th> 
			           <th>Techniciens</th>
			           <th sec:authorize="hasAuthority('ADMIN')">Action</th>  
		          </tr>
		          <tbody>
		             <tr th:each="service : ${listeservices}">
			             <td th:text="${service.idservice}">ID service</td>
				         <td th:text="${service.servicename}">Nom service</td>
			             <td th:text="${service.contacts}">Contacts</td>  
			             <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-primary" th:href="${'/services/edit/'}+${service.idservice}">Editer</a>
			             <a class="btn btn-danger" th:href="${'/services/del/'}+${service.idservice}">Supprimer</a></td>
		             </tr>  
		          </tbody>  
	         </table>
		   </div>
		   </div>
	    </div> 

   <th:block th:include="/_footer"></th:block>

</body>
</html>	   
	   
	   
       
  

        
  