<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qui sommes-nous ?</title>
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet">
    <link href="../static/css/form-validation.css" th:href="@{/css/form-validation.css}" rel="stylesheet">  
 	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
 	<link href="../static/css/form-validation.css" th:href="@{/css/form-validation.css}" rel="stylesheet">  
   <link href="../static/css/fontawesome/css/all.css" th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
     <script defer src="../static/js/friconix-0.2248.js" th:src="@{/js/friconix.js}"> </script>
	<style>
		body {
		  font-family: "Sofia", sans-serif;
		}
	</style>
	
  </head> 
<body class="mainback">
    <th:block th:include="/header"></th:block>
         
	<h1 class="text-center mb-4 font-effect-shadow-multiple" id="slogan"><i>« NOUS EXISTONS POUR VOUS »</i></h1>
	      
             <div class ="container justify-content-center mt-4">
             <div class="bg-primary titre2"> 
		       <h1 align="center">QUI SOMMES-NOUS ?</h1>
		     </div>
             <pre class="mt-4">
Créée le 14 Avril 2015, <b>« REFERENCE PLUS » </b> est une entreprise constitué en CENTRALE D’ACHAT et
TRAVAUX ayant pour principales activités : 
- Merchandising-Quincaillerie Générale ; 
- Hygiène & Propreté – EPI & Sécurité ; 
- BTP& Ingénierie - Conseils & Expertise ; 
- Fourniture & Maintenance du Matériel Industriel et Tertiaire ; 
- Travaux Industriels et Tertiaires.
La société REFERENCES PLUS compte à ce jour plus de 15 employés dont le professionnalisme permet de 
répondre aux besoins du marché et de proposer un peu plus chaque jour des produits innovants.   

Voilà quelques années que nous avons fait le choix de privilégier la qualité et le professionnalisme. 
Notre slogan : « Nous existons pour vous » 
Fier de nos nombreux clients, c’est au Cameroun que nous avons fait le choix de partager notre savoir-faire.  
Unir nos compétences, imaginer de concepts novateurs, bâtir de nouveaux projets et écrire avec vous une 
nouvelle histoire.
Notre professionnalisme, nous le mettons à votre service : 
Constamment à votre écoute nous avons réuni des produits de qualité tout en vous proposant de meilleurs services.  
Fort de cet héritage, nous avons fait le choix de créer des solutions sur mesure afin de vous faciliter la vie.
Au travers de ce catalogue découvrez notre univers et enter en possession des matériels de qualité supérieure 
et des services de hautes qualités.

<i>« L’Essentiel- Professionnalisme au service de tous »</i>


Nelson HOUMTSA
Manager
			</pre>
			</div>
			
			
    <th:block th:include="/footer"></th:block>
  </body>
</html>