  <hr/>
    <div class="container text-white bg-dark p-4">
      <div class="row">
        <div class="col-6 col-md-8 col-lg-7">
          <!--<div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
                <li class="btn-link"> <a>Link anchor</a> </li>
              </ul>
            </div>
          </div>-->
          <address>
            <strong>Reference-Plus</strong><br>
            BP 11326 Douala - Cameroun<br>
            Sise Nouvelle route Bépanda Omnisport, Douala<br>
            NIU: P048812312596F<br>
            N° RC/DLA/2015/A/1589<br>
            CNPS: 351-0123036-000-D<br>
          </address>
          
        </div>
        <div class="col-md-4 col-lg-5 col-6">
          <address>
            <strong>Direction Générale</strong><br>
            <abbr title="Phone">Tel: (237) 679 93 18 09</abbr><br>
            <abbr title="Phone">Tel: (237) 694 69 30 57</abbr><br>
            Email: <a href="mailto:#">referenceplus15@gmail.com</a><br>
            Email: <a href="mailto:#">manager@reference-plus.com</a>
          </address>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright 2022 © Reference-Plus. Tous droits réservés.</p>
             <p>Développeur : Ingénieur Noukedje Njampou Bruneau, Tel : (+237) 677 77 46 22, surfeurweb@yahoo.fr.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
   <!-- <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>-->
    <script src="../static/js/form-validation.js" th:src="@{/js/form-validation.js}"></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/js/ihm.js" th:src="@{/js/ihm.js}"></script>