<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Référence-Plus / Gestion des catégories</title>
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet">
    <link href="../static/css/cheatsheet.css" th:href="@{/css/cheatsheet.css}" rel="stylesheet">
    <link href="../static/css/fontawesome/css/all.css" th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
    <link href="../static/css/form-validation.css" th:href="@{/css/form-validation.css}" rel="stylesheet">  
     <script>
    
       function previewPhoto() {
          var preview = document.querySelector('img');
          var file    = document.querySelector('input[type=file]').files[0];
          var reader  = new FileReader();
          reader.addEventListener("load", function () {
            preview.src = reader.result;
          }, false);
          if (file) {
            reader.readAsDataURL(file);
          }
        }
      </script>  
  </head> 
<body class="mainback">
   <th:block th:include="/_header"></th:block>
     <div class ="container justify-content-center">         
        <div class="bg-primary titre2"> 
	       <h1 align="center">Ajout des catégories</h1>
	    </div>
	   <div th:if="${messaage ne null}" class="alert alert-danger alert-dismissible fade show" role="alert"> 
         <p th:text="${message}" align="center">Erreur de fichier</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form class="p-2 border rounded-3 mb-5 needs-validation" action="#" th:action="@{/categories/save}" th:object="${uploadcatform}" method="post" ENCTYPE="multipart/form-data" novalidate>
         <div class="row mb-4">
            <div class="col-6"> 
		        <label class="form-label">Nom catégorie</label> 
		        <input type="hidden" th:field="*{idcategorie}"/> 
				<input type="text" id="nomcategorie" class="form-control" th:field="*{nomcategorie}" placeholder="Nom catégorie" minlength="3" required/>
				<div class="invalid-feedback"> Obligatoire et 3 caractères au minimum </div>
            </div>
            <div class="col-6"> 
				<label class="form-label">Description</label> 
		        <textarea class="form-control" id="description" th:field="*{description}" rows="2" placeholder="Description" minlength="10" required></textarea>
		        <div class="invalid-feedback"> Obligatoire et 10 caractères au minimum </div>
		    </div>
         </div>
         <div class="card mb-2 mt-2 bg-primary">
	        <div class="row g-0">
	          <div class="col-md-4">
	              <img width="100%" height="150" src="../static/images/nopicture.png" th:src="@{/images/nopicture.png}" class="card-img-left" alt="Photo Catégorie"> 
	          </div>
	          <div class="col-md-8">
	            <div class="card-body">
	              <p class="card-text mt-2"> 
	                  <small class="text-muted"><span style="color: black;">Photo de la catégorie (jpg, jpeg, png de 1Mo max.)</span></small> 
	                <input type="hidden" name="MAX_FILE_SIZE" value="1048576" /> <!--1Mo=1048576 octets-->
	                <input type="file" id="photo" th:field="*{fileDatas}"  class="form-control-file" accept=".jpg, .jpeg, .png" onchange="previewPhoto()">
	              </p>
	            </div>
	          </div>
	        </div>
         </div>
    
        <div class="row g-3 mt-2">
	        <div align="center">
	           <button type="submit" class="btn btn-success" >Ajouter la catégorie</button>
	        </div>
        </div> 
      </form> 
     </div>
 <th:block th:include="/_footer"></th:block>
       
  </body>
</html>