<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order of services</title>
	<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet">
    <link href="../static/css/form-validation.css" th:href="@{/css/form-validation.css}" rel="stylesheet">  
 	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
 	<link href="../static/css/form-validation.css" th:href="@{/css/form-validation.css}" rel="stylesheet">  
   <link href="../static/css/fontawesome/css/all.css" th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet">
     <script defer src="../static/js/friconix-0.2248.js" th:src="@{/js/friconix.js}"> </script>
	<style>
		body {
		  font-family: "Sofia", sans-serif;
		}
	</style>
	
  </head> 
<body class="mainback">
    <th:block th:include="/header_en"></th:block>
         
	<h1 class="text-center mb-4 font-effect-shadow-multiple" id="slogan"><i>« WE EXIST FOR YOU »</i></h1>
	

       <div class ="container justify-content-center mt-4">
				    <div class="bg-primary titre2"> 
				       <h1 align="center">Order of services</h1>
				    </div>
			    <div th:if="${message != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		         <p th:text="${message}" align="center">Erreur de saisie</p>
		          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>
	       
				<form class="p-2 border rounded-3 mb-5 needs-validation" th:action="@{/services/commandes}" th:object="${commandeservices}" method="post">
		         <div class="row mb-2">
		            <div class="col">
		                <label class="form-label">Civility</label>
		                <select class="form-select" th:field="*{civilite}" />
		                   <option th:text="'Mister'" th:selected="'selected'">Mister</option>
		                   <option th:text="'Madam/Mrs'">Madam</option>
		                   <option th:text="'Miss'">Miss</option>
		                </select>
		            </div>
		              
		             <div class="col-6">   
				        <label class="form-label">Customer name</label>
				        <input type="text" name="nomclt" th:field="*{nomclient}" class="form-control" placeholder="Customer name" minlength="3" required/>
				        <div class="invalid-feedback"> Customer name is required with at least 3 characters</div>
		              </div>
		        
				    <div class="col"> 
						<label class="form-label">Customer phone</label> 
				        <input type="tel" class="form-control" name="tel" th:field="*{tel}" placeholder="Customer phone" minlength="9" required/>
				        <div class="invalid-feedback">Customer phone is required with at least 9 characters </div>
				    </div>
		         </div>
		           
			       <div class="row mb-4">  
			          <div class="col"> 
				        <label class="form-label">Service name</label>
				        <select class="form-select" th:field="*{nomservice}"/>  <!--c'est le champ categorie et il faut fermer la première ligne de la balise avec /-->
					       <option th:each="ls : ${listeservices}" th:value="${ls.servicename}" th:text="${ls.servicename}"></option> <!--th:selected-->
						</select>
		              </div>
		               <div class="col"> 
				        <label class="form-label">Location</label> 
				        <input id="idprod" type="hidden" th:field="*{id}"/>
						<input type="text" class="form-control" name="lieu" th:text="*{lieu}" placeholder="Location" minlength="3" required/>
						<div class="invalid-feedback"> Location is required with at least 3 characters</div>
			            </div>
			           <div class="col"> 
							<label class="form-label">Order date</label> 
					        <input type="date" class="form-control" name="datecde" th:field="*{datecde}" placeholder="Date de commande" minlength="10" required/>
					        <div class="invalid-feedback">Order date is required with at 10 characters</div>
					    </div>
		           </div>
		           
		        <div class="row g-3 mt-2">
			        <div align="center">
			           <button class="btn btn-success" type="submit">Order the service</button>
			        </div>
		        </div>
		        </form> 
		 </div>

  <th:block th:include="/footer_en"></th:block>
   
  </body>
</html>